<%
  if (type === 'about') {
    type = theme.about;
  } else if (type === 'help') {
    type = theme.help;
  } else type = null;
%>

<nav id=menu>
  <% for (var i in type) { %>
    <ul class="menu-buttons">
    <% for (var n in type[i]) { %>
      <li class="menu-button">
        <% if (url_for(type[i][n].url).indexOf(config.url) < 0 && url_for(type[i][n].url).indexOf(':') >= 0) { %>
          <a  class="menu-button-link <% if (type[i][n].class) { %><%= type[i][n].class %><% } %>" href="<%- url_for(type[i][n].url) %>" target="_blank">
            <% } else { %>
              <a  class="menu-button-link <% if (type[i][n].class) { %><%= type[i][n].class %><% } %>"
                <% if (type[i][n].url.indexOf("/") === 0 && type[i][n].url.length === 1) { %> href="<%- url_for(' ') %>"
                <% } else if (type[i][n].url.indexOf("/") === 0) { %> href="<%- url_for(type[i][n].url.substr(1)) %>"
                <% } else { %> href="<%- url_for(type[i][n].url) %>"<% } %>
              <% } %>
              <i class="menu-button-icon fa fa-lg <%= 'fa-' + type[i][n].icon %>"></i>
            <span class="menu-button-desc"><%= __(type[i][n].title) %></span>
          </a>
        </li>
      <% } %>
    </ul>
  <% } %>
</nav>
